<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome • Quiet</title>
    <link rel="stylesheet" href="/css/welcome-style.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>

    <div class="navbar">
        <a class="navbar-container" href="/">
            <img class="navbar-img" src="/img/logo.png" alt="">
            <p class="navbar-title">Quiet</p>
        </a>
        <div class="navbar-container">
          <a class="navbar-link" href="/register">Register</a>
          <a class="navbar-link" href="/login">Log in</a>
        </div>
    </div>

    <br>

    <div class="wrapper">
        <header class="header">
            <div class="header-element">
                <div class="header-title">
                    <span>Sharing safely</span>
                </div>
                <div class="header-separator"></div>
                <div class="header-text">
                    <p>From big ideas to the day-to-day stuff, Quiet allows you to filter content sensitive to you.</p>
                </div>
                <div class="invisible-separator"></div>
                <div class="horizontal-flex">
                    <a href="/register" class="get-started-button">
                        <span class="material-symbols-outlined">
                            waving_hand
                            </span>Get started
                    </a>
                    <a href="/login" class="learn-more-button">
                        <span class="material-symbols-outlined">
                            login
                            </span>Already have an account?
                    </a>
                </div>
            </div>
            <div class="header-element">
                <img src="https://images.pexels.com/photos/5054644/pexels-photo-5054644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
            </div>
        </header>

        <div>
            <br><br><br>
        </div>

        <div class="simple-separator"></div>

        <div>
            <br><br><br>
        </div>

        <article class="article left-article">
            Easy for you
            <p>Create your account and start looking for people to share what you're thinking.</p>
        </article>

        <article class="article right-article">
            We respect your privacy
            <p>We do not sell your data to advertisers or other companies.</p>
        </article>

        <article class="article left-article">
            Open source
            <p>Mentha is an open-source project, allowing anyone to see how it works on the inside and expand its functionalities.</p>
        </article>
    </div>
    
    <br><br><br><br>

    <p class="copyright-bottom">Quiet © 2023</p>

    <br><br>
</body>
</html>