.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: min(400px, 60%);
  margin: 2.5em auto;
  background-color: #f9f9f9;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-container > h1 {
  font-size: 28px;
  margin: 0;
}

.profile-container > h2 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.profile-container > p {
  font-size: 16px;
  margin: 0;
}

button {
  display: none;
  padding: 0.5em;
  font-size: 20px;
  margin: 0.5em;
  font-weight: 500;
}

.following-button {
  display: block;
}

.unknown-button {
  display: block;
}
